<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Draggable SVG Ellipses</title>
    <style>
    svg {
      position: absolute;
    }
  </style>
</head>
<body>
<div id="circleOfEllipses"></div>
<svg width="500" height="500">
    <ellipse cx="100" cy="100" rx="50" ry="30" fill="red"></ellipse>
    <ellipse cx="200" cy="200" rx="40" ry="25" fill="blue"></ellipse>
    <ellipse cx="300" cy="300" rx="60" ry="35" fill="green"></ellipse>

</svg>

{% for js_script in js_scripts %}

    <script src="{{ asset( js_script ) }}"></script>

{% endfor %}

<script>
{% for script in scripts %}
    {{ script | raw }}
{% endfor %}
</script>


</body>
</html>
