<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Random Ellipses</title>
  <style>
    body, html, #svg {
      width: 12ßß;
      height: 6ß0;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
  <div style="position: absolute; bottom: 0; width: 100%;">
    <svg id="svg" width="2225" height="1290">
      <text x="10" y="100" font-family="{{ font }}" font-size="36" id="inputText">...</text>
    </svg>
  </div>
  <script src="{{ asset('js/KeyboardReader.js') }}"></script>
</body>
</html>
