<!DOCTYPE html>
<html>
<head>
	<title>Multiple SVGs in Sequence</title>
	<style>
		body {
			background-color: #3A3A3A
		}
	</style>
</head>
<body>
	{{ svg | raw }}

	<script>
		var group = document.getElementById("all");

		var ellipses = group.querySelectorAll("ellipse");
		var ancors = group.querySelectorAll("a");



		var colorValue = 100 + Math.floor(Math.random() * 155);
		var i = 0;


		setInterval(function() {
			for (var j = 0; j < ellipses.length; j++) {
				var random = Math.random();
				colorValue += -1 + random * 2;
				ellipses[j].setAttribute("fill", "rgb(" + colorValue + ", " + colorValue + ", " + colorValue + ")");
				var x = ellipses[j].getAttribute("cx") - 0.5 + random;
				var y = ellipses[j].getAttribute("cy") - 0.5 + random;
				ellipses[j].setAttribute("cx", x);
				ellipses[j].setAttribute("cy", y);

				ancors[j].firstElementChild.setAttribute("x", x);
				ancors[j].firstElementChild.setAttribute("y", y);
			}
		}, 50);
	</script>
</body>
</html>